In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Resources/JC-202101-citibike-tripdata.csv")
data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,03:35.5,08:01.8,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,23:32.9,49:16.1,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,23:50.8,48:12.6,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,31:09.1,44:22.9,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,35:52.2,45:48.8,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [3]:
data.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [4]:
data = data.rename(columns={"tripduration": "Trip Duration (secs)"})

In [5]:
data.loc[(data["gender"] == 1, "gender")] = "male"
data.loc[(data["gender"] == 2, "gender")] = "female"

In [8]:
data = data[data.gender != 0]

In [9]:
data.head()

,Trip Duration (secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,03:35.5,08:01.8,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,male
1,1543,23:32.9,49:16.1,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,female
2,1461,23:50.8,48:12.6,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,male
5,144,39:55.6,42:19.8,3269,Brunswick & 6th,40.726012,-74.050389,3211,Newark Ave,40.721525,-74.046305,48913,Subscriber,1990,male
7,265,12:20.8,16:46.4,3276,Marin Light Rail,40.714584,-74.042817,3214,Essex Light Rail,40.712774,-74.036486,41620,Subscriber,1958,male

In [10]:
data.to_csv("Resources/2021_citi_bike.csv", index=False)